@import url('/assets/style/anima.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --mont : 'Montserrat', sans-serif;
    --cor1: #F2B705;
}
body{
    background-color: #18191a;
}
header{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #111213;
}
.container{
    display: flex;
    max-width: 1000px;
}

header .container{
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.logo img{
    width: auto;
    height: auto;
    margin: 5px;
}
.menu {
    display: flex;
    align-items: center;
}
.menu .menu_open{
    display: none;
}
nav ul, 
nav li{
    list-style: none; 
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
    font-size: 18px;
    font-weight: 600;
}
nav ul{
    display: flex;
}
nav a{
    height: 100px;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 3px solid  #111213 ;
}
nav a:hover{
    border-bottom: 3px solid var(--cor1);
    color: var(--cor1);
    transition-duration: .5s;
}
#banner{
    height: calc(100vh - 100px); 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(50deg, #000, #18191a, #F2B705);
}
#banner .body{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
#desc{
    margin-right: 70px;
}
#desc p{
    font-size: 26px;
    color: white;
    font-weight: 600;
    font-family: var(--mont);
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
}
#desc #name{
    color: var(--cor1);
}
#name{
    height: 30px;
}
#desc a{
    text-decoration: none;
    margin-top: 10px;
}
#desc #lkd{
    padding: 5px;
    border: 2px solid var(--cor1);
    width: 85px;
    border-radius: 50px;
    margin-top: 15px;
    font-size: 14px;
}
#perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#perfil #sombra{
    margin-top: 5px;
    width: 90px;
    height: 50px;
    background-color: #18191a;
    border-radius: 55%;
}
#perfil #foto{
    animation-name: perfil;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
#banner a:hover{
    color: var(--cor1);
}