@import url('/assets/style/anima.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --mont : 'Montserrat', sans-serif;
    --cor1: #F2B705;
}
body{
    background-color: #222324;
}

/*cabeçalho*/

header{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #111213;
    box-shadow: 0px 0px 6px black;
}
.container{
    display: flex;
    max-width: 1000px;
}

header .container{
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.logo img{
    width: auto;
    height: auto;
    margin: 5px;
}
.menu {
    display: flex;
    align-items: center;
}
.menu .menu_open{
    display: none;
}
nav ul, 
nav li{
    list-style: none; 
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
    font-size: 18px;
    font-weight: 600;
}
nav ul{
    display: flex;
}
nav a{
    height: 100px;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 3px solid  #111213 ;
}
nav a:hover{
    border-bottom: 3px solid var(--cor1);
    color: var(--cor1);
    transition-duration: .5s;
}

#banner{
    height: calc(100vh - 100px); 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(50deg, #000, #18191a, #F2B705);
}
#banner .body{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
#desc{
    margin-right: 70px;
}
#desc p{
    font-size: 26px;
    color: white;
    font-weight: 600;
    font-family: var(--mont);
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
}
#desc #name{
    color: var(--cor1);
}
#name{
    height: 30px;
}
#desc a{
    text-decoration: none;
    margin-top: 10px;
}
#desc #lkd{
    padding: 5px;
    border: 2px solid var(--cor1);
    width: 85px;
    border-radius: 50px;
    margin-top: 15px;
    font-size: 14px;
}
#perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#perfil #sombra{
    margin-top: 5px;
    width: 90px;
    height: 50px;
    background-color: #18191a;
    border-radius: 55%;
}
#perfil #foto{
    animation-name: perfil;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
#lkd:hover{
    color: var(--cor1) !important;
}

/*sobre*/
#sobre,
#projetos,
#habilidades{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
#sobre .container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.widget-title{
    margin:50px 0px 30px 0px;
}
.widget-title-text{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 8px;
    color: #BDB7AF;
}
.widget-title-bar{
    width: auto;
    height: 2px;
    background-color: var(--cor1);
}
#sobre{
    height: 88vh;
}
#sobre .body{
    display: flex;
    justify-content: center;
    flex: 1;
    margin-bottom: 50px;
    margin-top: 50px;
}
.body #area,
.body #apresentacao{
    width: 50%;
    overflow: hidden;
}
#area{
    display: flex;
    justify-content: center;
    position: relative;
    padding:50px 0px;
}
#area i{
    position: absolute;
    top: -100px;
    background: rgba(255, 255, 255, 0.5);
    animation: star linear infinite;
}
#area #rocket{
    position: relative;
    animation: rocket 0.2s ease infinite;
}
#rocket img{
    width: 105px;
    height: 150px;
}
#area #rocket::before{
    content:'';
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 102px;
    background: linear-gradient(#F2B705,transparent);
}
#area #rocket::after{
    content:'';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 110px;
    background: linear-gradient(#F2B705,transparent);
    filter: blur(20px);
}
#apresentacao{
    font-family: var(--mont);
    font-weight: 400;
    color: white;
}

/*projetos*/
#pojetos .body{
    margin-top: 30px;
}
#projetos .widget-title{
    margin-top: 40px;
}
.body .projects{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.projects .proj{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proj .info{
    display: none;
    text-align: center;
    flex-direction: column;
}
.projects .proj:hover > .info{
    display: flex;
}
.info h2{
    text-transform: uppercase;
    color: #b1aca5;
    text-shadow: 0px 2px 4px black;
    font-size: 20px;
}
.info p{
    color: #e6e6e6;
    font-family: var(--mont);
    font-weight: 400;
    font-size: 11px;
    margin: 10px 0px;
}
.proj .acesso{
    display: flex;
}
.acesso .lk{
    border: 1.5px solid #F2B705;
    border-radius: 15px;
    margin: 5px 5px 10px 5px;
    box-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.acesso a{
    padding: 5px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    text-shadow: 0px 2px 4px black;
}
.acesso a:hover{
    color: var(--cor1);
}
.projects .area-proj{
    margin: 10px; 
}
.info,
.acesso{
    max-width: 230px;
}
.area-proj > img{
    width: 230px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}
#projetos{
    background-color: #151718;
    box-shadow: 0px 0px 6px black;
}
#projetos .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body .ocut{
    display: none;
}
#projetos .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: white;
    box-shadow: 2px 2px 4px black;
    cursor: pointer;
    margin: 20px 0px;
    border: 1.5px solid #F2B705;
    border-radius: 15px;
    padding: 5px;
}
.container .btn:hover > p{
    color: var(--cor1);
}
